<?php
include 'partials/cabecera.phtml';
include 'partials/navegacion.phtml';
?>
<body id="page-top">

<!-- Navigation Bar -->
   <nav class="navbar navbar-fixed-top navbar-default">
     <div class="container">
       <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a  class="navbar-brand page-scroll" href="#page-top">
              <span>[PHOTO]</span>
            </a>
       </div>
       <div class="collapse navbar-collapse navbar-right" id="menu">
          <ul class="nav navbar-nav">
            <li class=" lien"><a href="index.php"><i class="fa fa-home sr-icons"></i> Home</a></li>
            <li class="active lien"><a href="#"><i class="fa fa-bookmark sr-icons"></i> About</a></li>
            <li class=" lien"><a href="blog.php"><i class="fa fa-file-text sr-icons"></i> Blog</a></li>
            <li><a href="contact.php"><i class="fa fa-phone-square sr-icons"></i> Contact</a></li>
          </ul>
       </div>
     </div>
   </nav>
<!-- End of Navigation Bar -->

<!-- Principal Content Start-->
   <div id="about">

    <!-- Header -->
      <div class="row">
         <div class="col-xs-12 intro">
            <div class="carousel-inner">
               <div class="item active">
                <img class="img-responsive" src="views/public/images/about_us.jpg" alt="header picture">
               </div>
               <div class="carousel-caption">
                  <h1>ABOUT US</h1>
                  <p>About Us and our Services?</p>
                  <hr>
               </div>
            </div>
         </div>
      </div>
    <!-- End of header -->  

    <!-- Container Box -->
      <div class="container">
        <div class="row">
           <div class="col-xs-12 col-sm-6">
             <div class="box-about">
              <i class="fa fa-institution fa-2x"></i>
              <h4>About Our Studio</h4>
              <p class="text-left text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Tempora ea ratione vel nisi, qui perferendis nulla, fugit aut, beatae, tempore modi. Minus sequi iste, nam nobis, excepturi.Ut enim ad enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure.</p>
             </div>
           </div>
           <div class="col-xs-12 col-sm-6">
             <div class="box-about">
              <i class="fa fa-group fa-2x"></i>
              <h4>About Our Team</h4>
              <p class="text-left text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Tempora ea ratione vel nisi, qui perferendis nulla, fugit aut, beatae, tempore modi. Minus sequi iste, nam nobis, excepturi.Ut enim ad enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure.</p>
             </div>
           </div>
        </div>
        <div class="row">
           <div class="col-xs-12 col-sm-6 row">
             <ul class="list-inline text-center">
                <li class="line"></li>
              <li><i class="fa fa-tasks fa-2x"></i></li>
              <li class="line"></li>
              <li><h4>Our Services</h4></li>
              <li class="line"></li>
             </ul>
             <p class="text-muted text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Tempora ea ratione vel nisi, qui perferendis nulla, fugit aut, beatae, tempore modi.</p>
           </div>
           <div class="col-xs-12 col-sm-6">
             <p class="text-muted"><strong>PHOTOSHOP</strong> <span class="pull-right">80%</span></p>
             <div class="progress">
              <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%;"></div>
             </div>
             <p class="text-muted"><strong>SHOOTING PHOTO </strong><span class="pull-right">95%</span></p>
             <div class="progress">
              <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width:95%;"></div>
             </div>
             <p class="text-muted"><strong>FORMATION</strong><span class="pull-right">90%</span></p>
             <div class="progress">
              <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%;"></div>
             </div>
           </div>
        </div>

      <!-- Pricing Tables -->  
        <div class="row pricing text-center">
          <h3>FORMATION PRICING TABLES</h3>
          <hr>
          <div class="col-xs-12 col-sm-4 first">
            <div class="beginner">
              <h4>BEGINNER</h4>
              <h5>$99.97</h5>
              <ul class="nav">
                <li>Beginner Option I</li>
                <li>Beginner Option II</li>
                <li>Beginner Option III</li>
                <li>Beginner Option IV</li>
                <li>Beginner Option V</li>
              </ul>
              <a href="#" class="btn btn-lg sr-button">SIGN UP</a>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 middle">
            <div class="intermediary">
              <h4>INTERMEDIARY</h4>
              <h5>$199.97</h5>
              <ul class="nav">
                <li>Intermediary Option I</li>
                <li>Intermediary Option II</li>
                <li>Intermediary Option III</li>
                <li>Intermediary Option IV</li>
                <li>Intermediary Option V</li>
              </ul>
              <a href="#" class="btn btn-lg sr-button">SIGN UP</a>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="higher">
              <h4>PROFESSIONAL</h4>
              <h5>$299.97</h5>
              <ul class="nav">
                <li>High Option I</li>
                <li>High Option II</li>
                <li>High Option III</li>
                <li>High Option IV</li>
                <li>High Option V</li>
              </ul>
              <a href="#" class="btn btn-lg sr-button">SIGN UP</a>
            </div>
          </div>
        </div>
      <!-- End of Pricing Tables -->

      <!-- Clients Feedback -->
        <div class="row feedback text-center">
           <h3>CLIENTS FEEDBACK</h3>
           <hr>
           <div class="col-xs-12 col-sm-3">
             <img class="img-responsive" src="views/public/images/clients/client1.jpg" alt="client's picture">
             <h5>MISS BELLA</h5>
             <q>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</q>
           </div>
           <div class="col-xs-12 col-sm-3">
             <img class="img-responsive" src="views/public/images/clients/client2.jpg" alt="client's picture">
             <h5>DON PENO</h5>
             <q>Tempora ea ratione vel nisi, qui perferendis nulla, fugit aut, beatae, tempore modi.</q>
           </div>
           <div class="col-xs-12 col-sm-3">
             <img class="img-responsive" src="views/public/images/clients/client3.jpg" alt="client's picture">
             <h5>SWEETY</h5>
             <q>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</q>
           </div>
           <div class="col-xs-12 col-sm-3">
             <img class="img-responsive" src="views/public/images/clients/client4.jpg" alt="client's picture">
             <h5>LADY</h5>
             <q>Tempora ea ratione vel nisi, qui perferendis nulla, fugit aut, beatae, tempore modi.</q>
           </div>
        </div>
      <!-- End of Clients Feedback --> 
       
      </div>
    <!-- End of container Box -->  
   </div>
<!-- End of principal content -->

   <!-- Footer -->
   <footer>
     <div class="container text-muted text-center">
         <ul class="list-inline social-buttons">
            <li><a href="#"><i class="fa fa-facebook sr-icons"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-twitter sr-icons"></i></a>
            </li>
            <li><a href="#"><i class="fa fa-google-plus sr-icons"></i></a>
            </li>
         </ul>
         <ul class="list-inline">
           <li class="footer-number"><i class="fa fa-phone sr-icons"></i>  (00228)92229954 </li>
           <li><i class="fa fa-envelope sr-icons"></i>  kouvenceslas93@gmail.com</li>
         </ul>
         <p>Photography Fanatic Template &copy; 2017</p>
     </div>
   </footer>

!-- Jquery -->
<script type="text/javascript" src="views/public/js/jquery.min.js"></script>
<!-- Bootstrap core Javascript -->
<script type="text/javascript" src="views/public/bootstrap/js/bootstrap.min.js"></script>
<!-- Plugins -->
<script type="text/javascript" src="views/public/js/jquery.easing.min.js"></script>
<script type="text/javascript" src="views/public/js/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" src="views/public/js/scrollreveal.min.js"></script>
<script type="text/javascript" src="views/public/js/script.js"></script>
</body>
</html>